{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center;" class="col-xs-12 col-md-6 col-lg-4">
        <img style="float: left;" src="{{ asset('images/logo_big.png') }}" alt="" />
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8">
        {{glowna_0|raw}}
    </div>
{% endblock %}
