/var/SymfonyRequirements.php
/var/SymfonyRequirements.php
/var/SymfonyRequirements.php
/data.db3
/npm-debug.log
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/images/
*.bkp*
file_storage
web/assets/vendor/*/bower_components
web/assets/vendor/jsplumb/build-support.js
web/assets/vendor/jsplumb/changelog.txt
web/assets/vendor/jsplumb/css
web/assets/vendor/jsplumb/demo
web/assets/vendor/jsplumb/doc
web/assets/vendor/jsplumb/Gruntfile.js
web/assets/vendor/jsplumb/img
web/assets/vendor/jsplumb/index.html
web/assets/vendor/jsplumb/jekyll
web/assets/vendor/jsplumb/jsPlumb-GPLv2-LICENSE.txt
web/assets/vendor/jsplumb/jsPlumb-LICENSE.txt
web/assets/vendor/jsplumb/jsPlumb-MIT-LICENSE.txt
web/assets/vendor/jsplumb/lib
web/assets/vendor/jsplumb/logo-bw.png
web/assets/vendor/jsplumb/package.json
web/assets/vendor/jsplumb/README.md
web/assets/vendor/jsplumb/src
web/assets/vendor/jsplumb/tests
web/assets/vendor/jsplumb/todo.txt
web/assets/vendor/jsplumb/dist/apidocs
web/assets/vendor/jsplumb/dist/demo
web/assets/vendor/jsplumb/dist/doc
web/assets/vendor/jsplumb/dist/img
web/assets/vendor/jsplumb/dist/index.html
web/assets/vendor/jsplumb/dist/tests
