{% extends 'base.html.twig' %}

{% block bodyTopMenu %}{% endblock %}
{% block bodyTop %}{% endblock %}
{% block bodyFooter %}
    <!-- <div style="position: fixed; bottom: 0px; right:30px">
        <div class="row" style="text-align: right;">
            <a style="color: black; font-variant: small-caps; font-size: 1em;" href="http://www.is.umk.pl/">
                Katedra Informatyki Stosowanej
            </a><br/>
            <a style="color: black; font-size: 1em;" href="https://github.com/IS-UMK/kisReg">
                źródło możesz podejżeć na <i style="font-size: 1.3em;" class="fa fa-github"></i> GitHub
            </a><br/>
            <i style="color: black; font-size: 1em;">
                bcelmer(at)is.umk.pl
            </i>
        </div>
    </div> -->
{% endblock %}

{% block bodyAttr %}style="background-color: #747474;"{% endblock %}
