<div style="display:none;">{{ form_start(form) }}{{ form_end(form) }}</div>
<a class="btn btn-danger" onclick="$(this).prev().find('form').submit()"><i class="fa fa-remove" aria-hidden="true"></i></a>
